
.content {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    padding: 0 10px;
    font-family: Lato, Helvetica, sans-serif;
    background: linear-gradient(#111425, #3751e0);
    position: absolute;
}

.intro {
    margin: 50px 0 50px 0;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 3;
}

.intro i {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    10%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.typewriter {
    position: relative;
}

.container {
    background: #000;
    width: 600px;;
    height: 300px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-weight: 200;
    font-size: 3rem;
    margin-top: 50%;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;

}

h2 {
    font-size: 1.5rem;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 1.5;
}


/* cursor */
.txt-type > .txt {
    border-right: 0.2rem solid #777;
}


/* Footer */


footer {
    margin-top: 80%;
    position: sticky;
}

.backtotop  {
    text-align: center;
    margin-top: 2rem;
    color: #fff;
}

.socialmedia {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0; 
    color: #fff;
}